[Unit]
Description=Daemon to answer plugin requests from Nagios on remote hosts
After=network.target
Requires=network.target

[Service]
Type=forking
ExecStart=/usr/libexec/nrpe -c /etc/nagios/nrpe.cfg -d

[Install]
WantedBy=multi-user.target
