[Unit]
Description=Dynamic DNS Update Client
After=network.target
ConditionPathExists=/etc/ddclient/ddclient.conf

[Service]
ExecStart=/usr/sbin/ddclient --foreground
User=ddclient
Group=ddclient

[Install]
WantedBy=multi-user.target
