[Desktop Entry]
Type=Application
Version=1.0
Name=Jasspa MicroEmacs
GenericName=Text Editor
Comment=Advanced Text Editor
Icon=/usr/share/jasspa/icons/32x32/me.png
TryExec=me
Exec=me %F
Terminal=false
MimeType=text/plain;
Categories=Development;TextEditor;
StartupWMClass=MicroEmacs
