[Unit]
Description=vdradmin-am, the web-based administration tool for VDR
Documentation=man:vdradmind(8)

After=vdr.service
After=network.target

ConditionPathExists=/etc/vdradmin
ConditionPathExists=/etc/vdradmin/vdradmind.conf

[Service]
EnvironmentFile=/etc/vdradmin/vdradmin-systemd.env
ExecStartPre=/usr/share/vdradmin/systemd/vdradmin-systemd-helper.sh
ExecStart=/usr/bin/vdradmind $CONF_D_OPTS --nofork
User=vdradmin

[Install]
WantedBy=multi-user.target
