[Unit]
Description=LVS and VRRP High Availability Monitor
After=network-online.target syslog.target

[Service]
Type=forking
PIDFile=/run/keepalived.pid
KillMode=process
ExecStart=/usr/sbin/keepalived $KEEPALIVED_OPTIONS
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
