[Desktop Entry]
Type=Application
Name=QGIS Desktop
Name[ar]=QGIS سطح المكتب
Name[bg]=QGIS Десктоп
Name[de]=QGIS-Desktop
Name[fa]=میزکار کوانتم
Name[fi]=QGIS-työasema
Name[hu]=QGIS asztali alkalmazás
Name[is]=QGIS-skjáborð
Name[ja]=QGISデスクトップ
Name[ko]=QGIS 데스크탑
Name[lt]=QGIS Darbastalis
Name[nb]=Skrivebordsprogrammet QGIS 
Name[pt_PT]=QGIS - PC
Name[ta]=QGIS டெச்க்டாப்
Name[tr]=QGIS Masasütü
Name[uk]=Настільний додаток QGIS
Name[vi]=QGIS Phiên bản Máy tính Để bàn
Name[zh-Hans]=QGIS 桌面版
Name[zh-Hant]=QGIS 桌面版
Name[zh_TW]=QGIS 桌面版
GenericName=Geographic Information System
GenericName[az]=Coğrafi informasiya sistemi
GenericName[bg]=Географски информационни системи
GenericName[ca]=Sistema d'Informació Geogràfica
GenericName[cs]=Geografický informační systém
GenericName[da]=Geografisk Informations System
GenericName[de]=Geographisches Informationssystem
GenericName[es]=Sistema de Información Geográfica
GenericName[eu]=Geografia-informazioko sistema
GenericName[fi]=GIS-paikkatietojärjestelmä
GenericName[fr]=Système d'Information Géographique
GenericName[gl]=Sistema de Información Xeográfica
GenericName[hu]=Térinformatikai rendszer
GenericName[is]=Landupplýsingakerfi
GenericName[it]=Sistema di Informazione Geografica
GenericName[ja]=地理情報システム
GenericName[ko]=지리 정보 시스템
GenericName[lt]=Geografinė informacinė sistema
GenericName[nb]=Geografisk informasjonssystem
GenericName[nl]=Geografisch informatiesysteem
GenericName[pl]=System Informacji Geograficznej
GenericName[pt_BR]=Sistema de Informação Geográfica
GenericName[pt_PT]=Sistema de Informação Geográfica
GenericName[ro]=Sistemul de Informații Geografice
GenericName[ru]=Географическая информационная система
GenericName[sk]=Geografický informačný systém
GenericName[sv]=Geografiskt Informationssystem
GenericName[ta]=புவியியல் செய்தி அமைப்பு
GenericName[tr]=Coğrafi Bilgi Sistemi
GenericName[uk]=Географічна інформаційна система
GenericName[vi]=Hệ thống Thông tin Địa lý
GenericName[zh-Hans]=地理信息系统
GenericName[zh-Hant]=地理資訊系統
GenericName[zh_TW]=地理資訊系統
Icon=qgis
TryExec=qgis
Exec=qgis %F
Terminal=false
StartupNotify=false
Categories=Qt;Education;Science;Geography;
MimeType=application/x-qgis-project;application/x-qgis-project-container;application/x-qgis-layer-settings;application/x-qgis-layer-definition;application/x-qgis-composer-template;image/tiff;image/jpeg;image/jp2;application/x-raster-aig;application/x-raster-ecw;application/x-raster-mrsid;application/x-mapinfo-mif;application/x-esri-shape;application/vnd.google-earth.kml+xml;application/vnd.google-earth.kmz;application/geopackage+sqlite3;
Keywords=map;globe;postgis;wms;wfs;ogc;osgeo;
StartupWMClass=QGIS4
