[Desktop Entry]
Categories=Qt;Development;
Comment=
Comment[en_US]=
Exec=/usr/bin/qdevelop
GenericName=QDevelop
GenericName[en_US]=QDevelop
Icon=/usr/share/pixmaps/qdevelop.png
MimeType=
Name=QDevelop
Name[en_US]=QDevelop
StartupNotify=true
Terminal=false
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
