[Unit]
Description=Openfire XMPP Server
After=network.target

[Service]
User=jabber
Group=jabber
PrivateTmp=true
ExecStart=/usr/bin/java -server -Xmx256m -DopenfireHome=/opt/openfire -Dopenfire.lib.dir=/opt/openfire/lib -classpath /opt/openfire/lib/startup.jar -jar /opt/openfire/lib/startup.jar
SuccessExitStatus=143 SIGKILL

[Install]
WantedBy=multi-user.target
