[Desktop Entry]
Name=VSCodium Wayland - URL Handler
Comment=Editing evolved
GenericName=Code Editor
Exec=/usr/bin/vscodium --enable-features=UseOzonePlatform --ozone-platform=wayland --open-url %U
Icon=vscodium
Type=Application
NoDisplay=true
StartupNotify=true
Categories=Utility;TextEditor;Development;IDE;
MimeType=x-scheme-handler/vscodium;
Keywords=vscode;vscodium;code;codium;
