#!/sbin/openrc-run
# Copyright 1999-2016 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Id$

depend() {
	use net
}

start() {
	ebegin "Starting fakeidentd"
	fakeidentd ${FAKEIDENTD_OPTS}
	eend $?
}

stop() {
	ebegin "Stopping fakeidentd"
	start-stop-daemon --stop --pidfile /var/run/fakeidentd.pid
	local ret=$?
	rm -f /var/run/fakeidentd.pid
	eend ${ret}
}
