[Unit]
Description=Dscard unused blocks on a mounted filesystem.
Documentation=man:fstrim
After=fstrim.service btrfs-trim.service

[Service]
Type=oneshot
ExecStart=/usr/share/btrfsmaintenance/btrfs-trim.sh
IOSchedulingClass=idle
CPUSchedulingPolicy=idle
