[Unit]
Description=Balance block groups on a btrfs filesystem
Documentation=man:btrfs-balance

[Timer]
OnCalendar=monthly
AccuracySec=1h
Persistent=true
Unit=btrfs-balance.service

[Install]
WantedBy=timers.target
