[Unit]
Description=Defragment file data and/or directory metadata
Documentation=man:btrfs-filesystem

[Timer]
OnCalendar=daily
AccuracySec=1h
Persistent=true
Unit=btrfs-defrag.service

[Install]
WantedBy=timers.target
