[Desktop Entry]
Name=awesome
Comment=Highly configurable framework window manager
NoDisplay=true
TryExec=/etc/X11/Sessions/awesome
Exec=/etc/X11/Sessions/awesome
Type=Application
