[Unit]
Description=Greenbone Security Assistant
After=network.target
After=openvassd.service
After=gvmd.service
Wants=gvmd.service

[Service]
Type=forking
User=gvm
Group=gvm
EnvironmentFile=-/etc/gvm/sysconfig/gsad-daemon.conf
ExecStart=/usr/bin/gsad $GSAD_OPTIONS $GSAD_LISTEN_ADDRESS $GSAD_LISTEN_PORT $GVMD_LISTEN_ADDRESS $GVMD_LISTEN_PORT $GSAD_GNUTLS_PRIORITIES
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
