[Desktop Entry]
Name=Veusz
GenericName=Veusz scientific plotting
Comment=For graphing and manipulation of scientific data
MimeType=application/x-veusz;
Exec=veusz %F
Icon=veusz
Terminal=false
Type=Application
Categories=Graphics;DataVisualization;
