# 1. Open /etc/courier/webadmin/password for editing
# 2. There should be one word in this file.  The webadmin password
# 3. chown mail:mail password
# 4. chmod 400 password
#
# Thanks to Fernando Tobler on bug #10574 for the concise instructions
