[Desktop Entry]
Name=VSCode
Comment=Editing evolved
GenericName=Code Editor
Exec=/usr/bin/vscode @exec_extra_flags@ --unity-launch %F
Icon=vscode
Type=Application
StartupNotify=false
StartupWMClass=Code
Categories=Utility;TextEditor;Development;IDE;
MimeType=text/plain;inode/directory;application/x-code-workspace;
Actions=new-empty-window;
Keywords=vscode;code;

[Desktop Action new-empty-window]
Name=New Empty Window
Exec=/usr/bin/vscode @exec_extra_flags@ --new-window %F
Icon=vscode
