[Desktop Entry]
Name=VSCode - URL Handler
Comment=Editing evolved
GenericName=Code Editor
Exec=/usr/bin/vscode @exec_extra_flags@ --open-url %U
Icon=vscode
Type=Application
NoDisplay=true
StartupNotify=true
Categories=Utility;TextEditor;Development;IDE;
MimeType=x-scheme-handler/vscode;
Keywords=vscode;code;
