[Desktop Entry]
Name=Visual Studio Code
Comment=Editing evolved
GenericName=Code Editor
Exec=/usr/bin/vscode --unity-launch %F
Icon=vscode
Type=Application
StartupNotify=false
StartupWMClass=Code
Categories=Utility;TextEditor;Development;IDE;
MimeType=text/plain;inode/directory;application/x-code-workspace;
Actions=new-empty-window;
Keywords=vscode;

[Desktop Action new-empty-window]
Name=New Empty Window
Exec=/usr/bin/vscode --new-window %F
Icon=vscode
