[Desktop Entry]
Name=Visual Studio Code - URL Handler
Comment=Editing evolved
GenericName=Code Editor
Exec=/usr/bin/vscode --open-url %U
Icon=vscode
Type=Application
NoDisplay=true
StartupNotify=true
Categories=Utility;TextEditor;Development;IDE;
MimeType=x-scheme-handler/vscode;
Keywords=vscode;
