# Old/new developers can be added here to map their contributions accurately
# before joining and after retiring, as well as the usual uses of .mailmap.
# See gitmailmap(5) for format details.
# Please keep this list sorted.
# Use "grep -v '^#' .mailmap | LC_ALL=en_US.utf-8 sort".
Alexey Shvetsov <alexxy@gentoo.org> <alexxy@omrb.pnpi.spb.ru>
Alexey Sokolov <alexey+gentoo@asokolov.org> <sokolov@google.com>
Andrew Ammerlaan <andrewammerlaan@gentoo.org> <aammerlaan@science.ru.nl>
Andrew Ammerlaan <andrewammerlaan@gentoo.org> <andrewammerlaan@gentoo.org>
Andrew Ammerlaan <andrewammerlaan@gentoo.org> <andrewammerlaan@riseup.net>
Andrew Ammerlaan <andrewammerlaan@gentoo.org> <andrew.ammerlaan@ru.nl>
Andrew Ammerlaan <andrewammerlaan@gentoo.org> <nowa-ammerlaan@riseup.net>
Arsen Arsenović <arsen@gentoo.org> <arsen@aarsen.me>
Florian Schmaus <flow@gentoo.org> <flo@geekplace.eu>
Ionen Wolkens <ionen@gentoo.org> <sudinave@gmail.com>
Joonas Niilola <juippis@gentoo.org> <juippis@gmail.com>
Maciej Barć <xgqt@gentoo.org> <xgqt@protonmail.com>
Maciej Barć <xgqt@gentoo.org> <xgqt@riseup.net>
Marek Szuba <marecki@gentoo.org> <Marek.Szuba@cern.ch>
Martin Dummer <martin.dummer@gmx.net> <martin.dummer@ts.fujitsu.com>
Michal Privoznik <michal.privoznik@gmail.com> <miso.privoznik@gmail.com>
Michal Privoznik <michal.privoznik@gmail.com> <mprivozn@redhat.com>
Michal Privoznik <michal.privoznik@gmail.com> Michal Prívozník <michal.privoznik@gmail.com>
Petr Vaněk <arkamar@gentoo.org> <arkamar () atlas ! cz>
Petr Vaněk <arkamar@gentoo.org> <arkamar@atlas.cz>
Petr Vaněk <arkamar@gentoo.org> <pv@excello.cz>
Sam James <sam@gentoo.org> Sam James (sam_c) <sam@cmpct.info>
Sam James <sam@gentoo.org> Sam James (sam_c) <sam@gentoo.org>
Ulrich Müller <ulm@gentoo.org> <ulm@kph.uni-mainz.de>
Viorel Munteanu <ceamac@gentoo.org> <ceamac.paragon@gmail.com>
