## /etc/thttpd.conf
##
## do not leave empty lines in here!
## format is: key=value
##
## run in debug-mode?
#debug
##
## what interface to bind to?
## (default is binding to any interface)
#host=www.example.org
port=80
user=thttpd
##
## CGI:
##	?	match a single char
##	*	matches any string excluding "/"
##	**	matches any string including "/"
##	separate multiple patterns with "|"
#cgipat=**.sh|**.cgi
##
## chroot:
chroot
#nochroot
##
logfile=/var/log/thttpd.log
pidfile=/var/run/thttpd.pid
##
charset=iso-8859-1
##
## control the caching: (in secs)
#maxage 60
##
## virtual hosting:
#vhost
##
## cache-control: send this "max-age" in all HTTP-responses:
#max-age=0
