#!/sbin/runscript
# Copyright 1999-2004 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Header: /var/cvsroot/gentoo-x86/net-misc/midentd/files/midentd.rc,v 1.3 2004/07/15 00:03:29 agriffis Exp $

start() {
	ebegin "Starting midentd"
	/usr/sbin/midentd ${MIDENTD_OPTS}
	eend $?
}

stop() {
	ebegin "Stopping midentd"
	start-stop-daemon --stop --quiet --pidfile /var/run/midentd.pid
	local ret=$?
	rm -f /var/run/midentd.pid
	eend ${ret}
}
