[Desktop Entry]
Version=1.0
Type=Application
Name=Nagstamon
GenericName=Nagios status monitor
Comment=Quick status overview of your Nagios monitoring system
Exec=nagstamon
Icon=/usr/share/nagstamon/resources/nagstamon.png
Terminal=false
Categories=Network;Monitor;
StartupNotify=true
