[Unit]
Description=XSP 4.0 WebServer
Wants=network.target
ConditionFileNotEmpty=/etc/xsp4/mono.webapp
ConditionDirectoryNotEmpty=/etc/xsp4/conf.d

[Service]
Type=simple
User=aspnet
Group=aspnet
ExecStart=/usr/bin/xsp4 --port 8084 --address 0.0.0.0 --appconfigdir /etc/xsp4 --nonstop
Restart=on-failure

[Install]
WantedBy=multi-user.target
