[Desktop Entry]
Version=1.0
Name=zyGrib
GenericName=GRIB File Viewer
Comment=Weather data visualization
Exec=/usr/bin/zygrib
Terminal=false
X-MultipleArgs=false
Icon=zygrib
Type=Application
Categories=Network;
