## this is heavily inspired by https://radicale.org/setup/

[Unit]
Description=A simple CalDAV (calendar) and CardDAV (contact) server
After=network.target
Requires=network.target

[Service]
ExecStart=/usr/bin/radicale
Restart=on-failure
User=radicale
# Deny other users access to the calendar data
UMask=0027
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
PrivateDevices=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
NoNewPrivileges=true
StateDirectory=radicale

[Install]
WantedBy=multi-user.target
