[Unit]
Description=Terminal over HTTP

[Service]
User=root
ExecStart=/usr/bin/ttyd -W -p 9000 login
Restart=on-abort

[Install]
WantedBy=multi-user.target
