[Unit]
Description=VMware USB Arbitrator
Requires=local-fs.target
Before=vmware-network.service

[Service]
Type=forking
ExecStart=/opt/vmware/bin/vmware-usbarbitrator

[Install]
WantedBy=multi-user.target
