[Unit]
Description=ProtonMail IMAP/SMTP bridge
Documentation=https://protonmail.com/bridge/

[Service]
ExecStart=/usr/bin/protonmail-bridge --no-window
Restart=on-failure

# Hardening
ProtectSystem=full
PrivateTmp=true
SystemCallArchitectures=native
MemoryDenyWriteExecute=true
NoNewPrivileges=true

[Install]
WantedBy=default.target
