[Desktop Entry]
Version=1.0
Name=@NAME@
GenericName=Email
Comment=Send and Receive Email
Comment[ca]=Llegiu i escriviu correu
Comment[cs]=Čtení a psaní pošty
Comment[de]=Emails lesen und verfassen
Comment[fi]=Lue ja kirjoita sähköposteja
Comment[fr]=Lire et écrire des courriels
Comment[it]=Leggere e scrivere email
Comment[ja]=メールの読み書き
Comment[pl]=Czytanie i wysyłanie e-maili
Comment[pt_BR]=Ler e escrever suas mensagens
Comment[sv]=Läs och skriv e-post
Exec=@EXEC@ %u
Icon=@ICON@
Terminal=false
Type=Application
MimeType=message/rfc822;text/calendar;x-scheme-handler/mailto;
StartupNotify=true
Categories=Network;Email;Calendar;
Keywords=email;messages;calendar
Actions=profile-manager-window;
StartupWMClass=@CLASS@

[Desktop Action profile-manager-window]
Name=Open the Profile Manager
Name[de]=Profilverwaltung öffnen
Name[cs]=Správa profilů
Exec=@EXEC@ --ProfileManager
