[Unit]
Description=CPU mining daemon for cryptocurrencies
After=network-online.target
AssertFileNotEmpty=/etc/cpuminer-opt/cpuminer-conf.json

[Service]
ExecStart=/usr/bin/cpuminer --syslog --config=/etc/cpuminer-opt/cpuminer-conf.json
DynamicUser=true
CPUSchedulingPolicy=idle
PrivateTmp=true
ProtectHome=true
ProtectSystem=strict
NoNewPrivileges=true
PrivateDevices=true
CapabilityBoundingSet=
MemoryDenyWriteExecute=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectControlGroups=true
RestrictRealtime=true
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
RestrictNamespaces=true
PrivateUsers=true
ConfigurationDirectory=cpuminer-opt

[Install]
WantedBy=multi-user.target
