[Unit]
Description=Kea control agent process
Documentation=man:kea-ctrl-agent(8)
Wants=network-online.target
After=network-online.target time-sync.target

[Service]
User=dhcp
Group=dhcp
RuntimeDirectory=kea
Environment="KEA_PIDFILE_DIR=/run/kea"
Environment="KEA_LOCKFILE_DIR=/run/lock/kea"
RuntimeDirectory=kea
ExecStart=/usr/sbin/kea-ctrl-agent -c /etc/kea/kea-ctrl-agent.conf
Restart=always

[Install]
WantedBy=kea-dhcp4-server.service
WantedBy=kea-dhcp6-server.service
