[Unit]
Description=ISC KEA IPv6 DHCP daemon
Documentation=man:kea-dhcp6(8)
Wants=network-online.target
Requires=kea-ctrl-agent.service
After=network-online.target mariadb.service mysql.service

[Service]
User=dhcp
Group=dhcp
RuntimeDirectory=kea
Environment="KEA_PIDFILE_DIR=/run/kea"
Environment="KEA_LOCKFILE_DIR=/run/lock/kea"
ExecStart=/usr/local/sbin/kea-dhcp6 -c /etc/kea/kea-dhcp6.conf
Restart=always

[Install]
WantedBy=multi-user.target
