[Unit]
Description=ISC KEA DHCPv4 DHCP daemon
Documentation=man:kea-dhcp4(8)
Wants=network-online.target
Requires=kea-ctrl-agent.service
After=network-online.target mariadb.service mysql.service

[Service]
User=dhcp
Group=dhcp
RuntimeDirectory=kea
Environment="KEA_PIDFILE_DIR=/run/kea"
Environment="KEA_LOCKFILE_DIR=/run/lock/kea"
ExecStart=/usr/sbin/kea-dhcp4 -c /etc/kea/kea-dhcp4.conf
Restart=always

[Install]
WantedBy=multi-user.target
