body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #454545;
    padding: 0 10px;
}

h1,h2,h3,h4,h5,h6 {
    line-height: 1.2;
}

.divider,
.footerlinks,
.navbar-toggle,
.site-title,
.tyrian-navbar {
    display: none;
}
