[
  {
    "id": "example",
    "execute-command": "/var/lib/webhooks/example.sh",
    "command-working-directory": "/var/lib/webhooks"
    "pass-arguments-to-command":
    [
      {
        "source": "entire-payload"
      }
    ]
  }
]
