[Unit]
Description=incus - container startup/shutdown
Documentation=man:incus(1)
After=incus.socket incus.service
Requires=incus.socket

[Service]
Type=oneshot
ExecStart=/usr/sbin/incusd activateifneeded
ExecStop=/usr/sbin/incusd shutdown
TimeoutStartSec=600s
TimeoutStopSec=600s
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
