#!/sbin/runscript
# Copyright 1999-2013 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Header: /var/cvsroot/gentoo-x86/app-accessibility/brltty/files/brltty.rc,v 1.6 2013/08/20 06:08:36 vapier Exp $

command=/bin/brltty
pidfile=/var/run/brltty.pid
command_args="-P $pidfile -q"

depend() {
	before *
	after clock
}
