[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=xmonad
Comment=A lightweight window manager
Exec=/etc/X11/Sessions/xmonad
TryExec=xmonad
NoDisplay=true
Icon=
X-GNOME-WMName=Xmonad
X-GNOME-Autostart-Phase=WindowManager
X-GNOME-Provides=windowmanager
X-GNOME-Autostart-Notify=false
