#!/sbin/openrc-run
# Copyright 1999-2011 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Id$

depend() {
	before checkfs fsck multipathd lvm
	after modules device-mapper
}

start() {
	if ! grep -qs device-mapper /proc/devices /proc/misc ; then
		[ -e /proc/modules ] && modprobe -q dm-mod
	fi

	ebegin "Activating Multipath devices"
	multipath -v0 >/dev/null
	eend $?
}

stop() {
	ebegin "Shutting down Multipath devices"
	multipath -v0 -F >/dev/null
	eend $?
}

# vim:ts=4
