[Unit]
Description=Munin Async Service
After=syslog.target network.target

[Service]
PIDFile=/run/munin/munin-asyncd.pid
ExecStart=/usr/libexec/munin/munin-asyncd

[Install]
WantedBy=multi-user.target
