[Unit]
Description=Open vSwitch Daemon
Documentation=man:ovs-vswitchd
Wants=network.target
Before=network.target
Requires=ovsdb-server.service
After=ovsdb-server.service

[Service]
# --pidfile options is needed for create file used
# by ovs-appctl command.
ExecStart=/usr/sbin/ovs-vswitchd --mlockall --monitor unix:/var/run/openvswitch/db.sock --pidfile

[Install]
WantedBy=multi-user.target
