[Unit]
Description=Open vSwitch Daemon
Documentation=man:ovs-vswitchd
Wants=network.target
Before=network.target
Requires=ovsdb-server.service
After=ovsdb-server.service

[Service]
ExecStart=/usr/sbin/ovs-vswitchd --mlockall --monitor unix:/var/run/openvswitch/db.sock

[Install]
WantedBy=multi-user.target
