[Unit]
Description=smartctl exporter
Documentation=https://github.com/prometheus-community/smartctl_exporter
After=network-online.target

[Service]
# Security improvements required in future, but needs care; ideally
# smartctl_exporter runs minimal privilege, but can invoke smartctl via sudo to
# touch disks.
# https://github.com/prometheus-community/smartctl_exporter/issues/146
User=root
Group=root
Restart=on-failure
Type=exec
# Args should be added with `systemctl edit`, with patch file looking like
# [Service]
# ExecStart=
# ExecStart=/usr/sbin/smartctl_exporter $args_go_here
ExecStart=/usr/sbin/smartctl_exporter
ExecReload=/usr/bin/kill -HUP $MAINPID
TimeoutStopSec=20s
SendSIGKILL=no

[Install]
WantedBy=multi-user.target
