[Unit]
Description=smartctl exporter
Documentation=https://github.com/prometheus-community/smartctl_exporter
After=network-online.target

[Service]
# Security improvements required in future, but needs care; ideally
# smartctl_exporter runs minimal privilege, but can invoke smartctl via sudo to
# touch disks.
# https://github.com/prometheus-community/smartctl_exporter/issues/146
User=root
Group=root
Restart=on-failure
Type=exec
EnvironmentFile=-/etc/conf.d/smartctl_exporter
ExecStart=/usr/sbin/smartctl_exporter $command_args
ExecReload=/usr/bin/kill -HUP $MAINPID
TimeoutStopSec=20s
SendSIGKILL=no

[Install]
WantedBy=multi-user.target
