#!/sbin/openrc-run
# Copyright 1999-2016 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Id$

depend() {
	use logger
	need net
}

checkconfig() {
	if [ ! -e /etc/mrouted.conf ] ; then
		eerror "You need an /etc/mrouted.conf file to run mrouted"
		return 1
	fi
}

start() {
	checkconfig || return 1
	ebegin "Starting mrouted"
	start-stop-daemon --start --quiet --pidfile /var/run/mrouted.pid \
		--startas /usr/bin/mrouted -- -c /etc/mrouted.conf
	eend $?
}

stop() {
	ebegin "Stopping mrouted"
	start-stop-daemon --stop --quiet --pidfile /var/run/mrouted.pid
	eend $?
}
