#
# Run clamav-unofficial-sigs.service every hour, at 45 minutes past the hour.
# We do not include an [Install] section because this package does not
# technically depend on clamav to function.
#

[Unit]
Description=ClamAV unofficial signature update timer
Documentation=man:clamav-unofficial-sigs(8)

[Timer]
OnCalendar=*-*-* *:45:00
