# IrDA-PNP (autodetect and setup some known SIR/FIR devices)
# you need to run /etc/init./irda to activate your device

ACTION!="add", GOTO="irda_pnp_end"
SUBSYSTEM!="pnp", GOTO="irda_pnp_end"

ATTR{id}=="PNP0510", RUN+="irda-setup sir"
ATTR{id}=="PNP0511", RUN+="irda-setup sir"
ATTR{id}=="NSC*",    RUN+="irda-setup fir nsc-ircc"
ATTR{id}=="IBM0071", RUN+="irda-setup fir nsc-ircc dongle_id=0x09"
ATTR{id}=="SMC*",    RUN+="irda-setup fir smsc-ircc2"
ATTR{id}=="ALI5123", RUN+="irda-setup fir ali-ircc"
ATTR{id}=="VIA3076", RUN+="irda-setup fir via-ircc"

LABEL="irda_pnp_end"

# IrDA-USB (start/stop irattach automatically)
KERNEL=="irda[0-9]*", SUBSYSTEM=="net", RUN+="irda-usb"
