[Unit]
Description=ProFTPd FTP daemon

[Service]
Type=simple
ExecStart=/usr/sbin/proftpd --nodaemon
StandardOutput=syslog
StandardError=syslog
Restart=always

[Install]
WantedBy=multi-user.target
