# MySQL Proxy's configuration file (mysql-proxy.cnf)
# This file must be 0660 or more restrictive
# otherwise mysql-proxy will refuse to load
[mysql-proxy]
#basedir = ...
#daemon = true
#defaults-file = ...
#event-threads = ...
keepalive = true
log-backtrace-on-crash = true
log-file = /var/log/mysql/mysql-proxy.log
log-level = warning
#log-use-syslog = true
#lua-cpath = ...
#lua-path = ...
#max-open-files = ...
pid-file = /var/run/mysql-proxy.pid
#plugin-dir = ...
#plugins = admin,proxy,debug,replicant
#plugins = admin,proxy
plugins = proxy
#user = ...

# module: admin
admin-address = 127.0.0.1:4041
#admin-lua-script = ...
#admin-password = ...
#admin-username = ...

# module: proxy
#no-proxy = false
proxy-address = 127.0.0.1:4040
proxy-backend-addresses = 127.0.0.1:3306
proxy-fix-bug-25371 = false
#proxy-lua-script = ...
#proxy-pool-no-change-user = ...
#proxy-read-only-backend-addresses = ...
proxy-skip-profiling = false

# module: replicant
#replicant-master-address = ...
#replicant-username = ...
#replicant-password = ...
#replicant-read-binlogs = ...

# module: debug
debug-address = 127.0.0.1:4043
