[Unit]
Description=CPU Interrupt Balancer

[Service]
ExecStart=/usr/sbin/irqbalance --debug
# --debug implies a lot of cruft
# but it's the only way to get foregrounding
StandardOutput=null

[Install]
WantedBy=multi-user.target
