#!/sbin/runscript

depend() {
	need net
	after ntp-client ntpd
}

start() {
	ebegin "Starting GANGLIA gmond: "
	start-stop-daemon --start --quiet --exec /usr/sbin/gmond
	eend $? "Failed to start gmond"
}

stop() {
	ebegin "Shutting down GANGLIA gmond: "
	start-stop-daemon --stop --quiet --exec /usr/sbin/gmond
	eend $? "Failed to stop gmond"
}
