[Desktop Entry]
Name=XPDF
Name[bn]=এক্স পি-ডি-এফ
Name[de]=X-PDF
Name[eo]=XPDF
Name[es]=PDF para X
Name[fr]=XPDF
Name[hi]=एक्स पीडीएफ
Name[ko]=X용 PDF
Name[mn]=X-PDF
Name[nds]=X-PDF
Name[te]=ఎక్స్ పిడిఎఫ్
Comment=PDF Viewer
Comment[af]=Pdf Aansig
Comment[ar]=عارض الملفات PDF
Comment[az]=PDF Nümayişçisi
Comment[be]=Праглядальнік PDF
Comment[bg]=Преглед на PDF документи
Comment[bn]=পি-ডি-এফ প্রদর্শক
Comment[br]=Gweler PDF
Comment[bs]=Preglednik PDF dokumenata
Comment[ca]=Visor PDF
Comment[cs]=Prohlížeč PDF souborů
Comment[csb]=Przezérnik PDF
Comment[cy]=Gwelydd PDF
Comment[da]=PDF-fremviser
Comment[de]=PDF-Betrachter
Comment[el]=Προβολέας PDF
Comment[eo]=PDF-rigardilo
Comment[es]=Visor de documentos PDF
Comment[et]=PDF failide vaatamine
Comment[eu]=PDF ikustailua
Comment[fa]=مشاهده‌گر PDF
Comment[fi]=PDF-näytin
Comment[fo]=PDF-vísari
Comment[fr]=Afficheur PDF
Comment[fy]=PDF-werjefteprogramma
Comment[ga]=Amharcán PDF
Comment[gl]=Visualizador de PDF
Comment[he]=מציג קבצי PDF
Comment[hi]=पीडीएफ प्रदर्शक
Comment[hr]=Preglednik PDF dokumenata
Comment[hu]=PDF-nézegető
Comment[id]=Viewer PDF
Comment[is]=PDF-sjá
Comment[it]=Visualizzatore PDF
Comment[ja]=PDF ビューア
Comment[kk]=PDF қарау құралы
Comment[km]=កម្មវិធី​មើល PDF
Comment[ko]=PDF 보기
Comment[lo]=ສະແດງຜົນPDF
Comment[lt]=PDF Žiūriklis
Comment[lv]=PDF Skatītājs
Comment[mk]=Прегледувач на PDF
Comment[mn]=PDF-Харагч
Comment[ms]=Pemapar PDF
Comment[mt]=Werrej PDF
Comment[nb]=PDF-leser
Comment[nds]=Kieker för PDF-Dateien
Comment[ne]=PDF दर्शक
Comment[nl]=PDF-weergaveprogramma
Comment[nn]=PDF-lesar
Comment[nso]=Molebeledi wa PDF
Comment[oc]=Visualisor PDF
Comment[pa]=PDF ਦਰਸ਼ਕ
Comment[pl]=Przeglądarka plików PDF
Comment[pt]=Visualizador de PDFs
Comment[pt_BR]=Visualizador de arquivos PDF
Comment[ro]=Vizualizor de documente PDF
Comment[ru]=Просмотр PDF
Comment[rw]=Mugaragaza PDF
Comment[se]=PDF-logan
Comment[sk]=Prehliadač PDF súborov
Comment[sl]=Pregledovalnik datotek PDF
Comment[sr]=PDF приказивач
Comment[sr@Latn]=PDF prikazivač
Comment[ss]=Sibuki se PDF 
Comment[sv]=PDF-visare
Comment[ta]=PDF காட்சி
Comment[tg]=Намоишгари PDF
Comment[th]=ตัวแสดงผล PDF
Comment[tr]=PDF Görüntüleyici
Comment[tt]=PDF Kürsätkeç
Comment[uk]=Переглядач PDF
Comment[uz]=PDF кўрувчи
Comment[ven]=Tshivhoni tsha PDF
Comment[vi]=Trình xem PDF
Comment[wa]=Håyneu di documints PDF
Comment[zh_CN]=PDF 查看器
Comment[zh_TW]=PDF 檢視程式
Comment[zu]=Umbukisi we-PDF
Keywords=pdf;document;presentation;viewer;
Keywords[de]=pdf;Dokument;Präsentation;Betrachter;
Keywords[ru]=pdf;документ;презентация;просмотр;
Keywords[uk]=pdf;документ;презентація;перегляд;
Keywords[ja]=pdf;ドキュメント;プレゼンテーション;ビューアー;

Exec=xpdf
Icon=xpdf
Type=Application
Terminal=false
StartupNotify=false
MimeType=application/pdf;
Categories=Office;Viewer;Graphics;2DGraphics;VectorGraphics;
