[Unit]
Description=Luanti multiplayer server (server config %i.conf)
Documentation=man:luantiserver(6)
After=network.target

[Service]
Restart=on-failure
User=minetest
Group=minetest
ExecStart=/usr/bin/luantiserver --config /etc/minetest/%i.conf --logfile /var/log/luanti/%i-server.log
StandardOutput=null

[Install]
WantedBy=multi-user.target

