[Unit]
Description=Jenkins Daemon

[Service]
EnvironmentFile=/etc/jenkins/jenkins.conf
Type=forking
ExecStart=/usr/bin/java -DJENKINS_HOME=${JENKINS_HOME} -jar ${JENKINS_WAR} --daemon ${JENKINS_AWT_MODE} --logfile=${JENKINS_LOGFILE} --httpPort=${JENKINS_PORT} --httpsPort=${JENKINS_SSL_PORT} --debug=${JENKINS_DEBUG_LEVEL} --handlerCountMax=${JENKINS_HANDLER_MAX} --handlerCountMaxIdle=${JENKINS_HANDLER_IDLE} --accessLoggerClassName=${LOGGER_CLASS} --simpleAccessLogger.format=${LOGGER_FORMAT} --simpleAccessLogger.file=${ACCESS_LOG_FILE} ${JENKINS_HTTPS_CERTIFICATE} ${JENKINS_HTTPS_PRIVKEY} ${JENKINS_KEYSTORE} ${JENKINS_JAVA_OPTION}
User=jenkins

[Install]
WantedBy=multi-user.target
