[Unit]
Description=OSPF routing daemon for IPv6
Documentation=man:ospfd(8) man:zebra(8)
BindTo=zebra.service
After=network.target zebra.service
ConditionPathExists=/etc/quagga/ospf6d.conf

[Service]
Type=forking
PIDFile=/run/quagga/ospf6d.pid
ExecStart=/usr/sbin/ospf6d -d
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-abort

[Install]
WantedBy=multi-user.target
