[Unit]
Description=An indexer manager/proxy to integrate with your various PVR apps.
After=syslog.target network.target

[Service]
User=prowlarr
Group=prowlarr

Type=simple
ExecStart=/opt/prowlarr/Prowlarr
TimeoutStopSec=20
KillMode=process
Restart=always

PrivateTmp=yes
PrivateDevices=yes
PrivateMounts=yes
ProtectHome=yes
ProtectSystem=full
NoNewPrivileges=yes
ProtectHostname=yes
ProtectClock=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectControlGroups=yes
RestrictRealtime=yes

[Install]
WantedBy=multi-user.target
