bank:
	/backup/dirvish/server
	/backup/dirvish/laptop
	/backup/dirvish/firewall
exclude:
	lost+found/
        proc/
	core
Runall:
	serverroot      03:00
	serverboot      03:00
	serverhome      03:00
	serveropt       03:00
	serverspare     03:00
	laptoproot      03:00
	laptopboot      03:00
	laptopopt       03:00
	laptopspare     03:00
	firewallroot    03:00
	firewallboot    03:00

expire-default:	 never

# keep the sunday backups forever, the dailies for 3 months 
expire-rule:
#	MIN	HR	DOM	MON	DOW	STRFTIME_FMT
	*	*	*	*	*	+3 months
	*	*	*	*	1	never

pre-server: /usr/local/sbin/dirvish-pre

post-server: /usr/local/sbin/dirvish-post

