[Unit]
Description=promiscuous mode accounting daemon
After=network.target

[Service]
ProtectSystem=full
ProtectHome=true
ProtectHostname=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
RestrictRealtime=true
Type=forking
ExecStart=/usr/sbin/pmacctd -f /etc/pmacctd/pmacctd.conf -i %I

[Install]
WantedBy=multi-user.target

