[Desktop Entry]
Version=1.0
Type=Application
Name=LenovoLegionLinux
Icon=/usr/share/icons/legion_logo.png
Exec=pkexec /usr/bin/legion_gui
Comment=Control Lenovo Legion Laptops
Categories=Application
Terminal=false
