[Unit]
Description=Free Cisco VPN connection to %i
Documentation=man:vpnc(8) http://www.unix-ag.uni-kl.de/~massar/vpnc/
Requires=network.target
After=network.target
ConditionPathExists=/dev/net/tun

[Service]
Type=forking
EnvironmentFile=/etc/vpnc/%i.conf
PIDFile=/run/vpnc/%i.pid

ExecStartPre=-/etc/vpnc/scripts.d/%i-preup.sh
ExecStart=/usr/sbin/vpnc --pid-file /run/vpnc/%i.pid
ExecStartPost=-/etc/vpnc/scripts.d/%i-postup.sh

ExecStopPost=-/etc/vpnc/scripts.d/%i-postdown.sh

[Install]
WantedBy=multi-user.target
