[Unit]
Description=Store nftables firewall rules
Before=shutdown.target
DefaultDependencies=No

[Service]
Type=oneshot
ExecStart=/usr/libexec/nftables/nftables.sh store /var/lib/nftables/rules-save

[Install]
WantedBy=shutdown.target
