[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Add Citrix Store
MimeType=application/vnd.citrix.receiver.configure;
Categories=Network;
Icon=/opt/Citrix/ICAClient/icons/manager.png
TryExec=new_store
Exec=new_store %f
