[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Citrix Receiver Engine
StartupWMClass=Wfica
NoDisplay=true
Categories=Network;
MimeType=application/x-ica;
Icon=/opt/Citrix/ICAClient/icons/manager.png
TryExec=wfica
Exec=wfica
