#!/sbin/runscript
# Copyright 1999-2004 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Id$

depend() {
	need net
	use logger
}

start() {
	ebegin "Starting scanlogd"
	start-stop-daemon --start --quiet --exec /usr/sbin/scanlogd
	eend $?
}

stop() {
	ebegin "Stopping scanlogd"
	start-stop-daemon --stop --quiet --exec /usr/sbin/scanlogd
	eend $?
}
