[Unit]
Description=ZFS monthly snapshot service
Documentation=man:zfs-auto-snapshot(8)

[Service]
ExecStart=@GENTOO_PORTAGE_EPREFIX@/usr/sbin/zfs-auto-snapshot @DEFAULT_EXCLUDE@ --skip-scrub --label=monthly --keep=12 //
