[Unit]
Description=Teleport SSH Service
After=network.target 

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/teleport start --config=/etc/teleport/teleport.yaml

[Install]
WantedBy=multi-user.target
