[Unit]
Description=eBUS daemon
After=network-online.target

[Service]
Type=forking
User=ebusd
Group=ebusd
ExecStart=/usr/bin/ebusd ${EBUSD_OPTS}
Restart=always

[Install]
WantedBy=multi-user.target
