BDEPEND=nls? ( >=dev-qt/linguist-tools-5.12.3:5 ) dev-util/ninja >=dev-util/cmake-3.9.6 test? ( !prefix? ( x11-base/xorg-server[xvfb] ) x11-apps/xhost ) doc? ( dev-qt/qthelp:5 ) doc? ( >=app-doc/doxygen-1.8.13-r1 ) >=kde-frameworks/extra-cmake-modules-5.64.0:5
DEFINED_PHASES=compile configure install nofetch postinst postrm preinst prepare setup test unpack
DEPEND=>=dev-qt/qtgui-5.12.3:5 >=dev-qt/qtxml-5.12.3:5 dbus? ( >=dev-qt/qtdbus-5.12.3:5 ) test? ( >=dev-qt/qtconcurrent-5.12.3:5 ) test? ( dev-qt/qttest:5 ) doc? ( dev-qt/qt-docs:5 ) dev-qt/qtcore:5
DESCRIPTION=Framework for reading and writing configuration
EAPI=7
HOMEPAGE=https://kde.org/products/frameworks/
IUSE=dbus nls test debug doc test
KEYWORDS=amd64 ~arm ~arm64 ~x86
LICENSE=LGPL-2+
RDEPEND=>=dev-qt/qtgui-5.12.3:5 >=dev-qt/qtxml-5.12.3:5 dbus? ( >=dev-qt/qtdbus-5.12.3:5 ) >=kde-frameworks/kf-env-4 doc? ( dev-qt/qt-docs:5 ) dev-qt/qtcore:5
RESTRICT=!test? ( test ) test
SLOT=5/5.64
SRC_URI=mirror://kde/stable/frameworks/5.64/kconfig-5.64.0.tar.xz
_eclasses_=cmake-utils	a5d9146ee60641275d46a91aab93d02f	ecm	4ea733fe80a2aafb8b3db16eee688d8f	eutils	fcb2aa98e1948b835b5ae66ca52868c5	flag-o-matic	8a43b9830f1e64a7a5fc0a276afa0275	kde.org	10fb11177d867e8e282bd1bde484504e	multilib	1d91b03d42ab6308b5f4f6b598ed110e	multiprocessing	cac3169468f893670dac3e7cb940e045	ninja-utils	132cbb376048d079b5a012f5467c4e7f	toolchain-funcs	512eb3367f507ebaa1d1d43ab7d66e6c	virtualx	53625127887b62eabb9ec61d3d943462	xdg-utils	ff2ff954e6b17929574eee4efc5152ba
_md5_=81bfe06bf8d81afa0872a493ad690cfa
