// Let users in plugdev group modify ModemManager
polkit.addRule(function(action, subject) {
    if (/^org\.freedesktop\.ModemManager1\.(Device\.Control|Contacts|Messaging|Location)$/.test(action.id) &&
        subject.isInGroup("plugdev") && subject.active) {
        return "yes";
    }
});
