#!/sbin/runscript
# Copyright 1999-2005 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Header: /var/cvsroot/gentoo-x86/app-backup/boxbackup/files/bbackupd.rc,v 1.1 2005/09/17 13:30:47 grobian Exp $

depend() {
	need localmount
	use net
}

start() {
	ebegin "Starting box backup daemon"
	start-stop-daemon --start --exec /usr/sbin/bbackupd > /dev/null
	eend $?
}
 
stop() {
	ebegin "Stopping box backup daemon"
	start-stop-daemon --stop --exec /usr/sbin/bbackupd
	eend $?
}
