#!/sbin/openrc-run
# Copyright 1999-2016 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Id$

depend() {
	need localmount
	use net
}

start() {
	ebegin "Starting box backup store daemon"
	start-stop-daemon --start --exec /usr/sbin/bbstored > /dev/null
	eend $?
}
 
stop() {
	ebegin "Stopping box backup store daemon"
	start-stop-daemon --stop --exec /usr/sbin/bbstored
	eend $?
}
