[Unit]
Description=Courier IMAP Daemon
After=network.target
Wants=courier-authdemond.service

[Service]
Type=forking
EnvironmentFile=/etc/courier-imap/imapd-ssl
ExecStart=/usr/lib/courier-imap/gentoo-imapd-ssl.rc
ExecStop=/bin/kill $MAINPID
PIDFile=/var/run/imapd-ssl.pid

[Install]
WantedBy=multi-user.target
