[Unit]
Description=OpenVAS Manager
After=network.target
After=openvassd.service
Wants=openvassd.service
Before=gsad.service

[Service]
Type=forking
EnvironmentFile=-/etc/openvas/sysconfig/openvasmd-daemon.conf
ExecStart=/usr/sbin/openvasmd $OPENVAS_MANAGER_OPTIONS $OPENVAS_MANAGER_PORT $OPENVAS_MANAGER_LISTEN_ADDRESS $OPENVAS_MANAGER_SCANNER_HOST $OPENVAS_MANAGER_GNUTLS_PRIORITIES 
ExecReload=/bin/kill -HUP $MAINPID
KillMode=mixed
User=root
Group=root
TimeoutSec=1200

[Install]
WantedBy=multi-user.target
