[Unit]
Description=Murmurd - VoIP Server (for Mumble)
After=network.target mysql.service

[Service]
User=murmur
Group=murmur
Type=dbus
BusName=net.sourceforge.mumble.murmur
PIDFile=/run/murmur/murmur.pid
ExecStart=/usr/bin/murmurd -ini /etc/murmur/murmur.ini

[Install]
WantedBy=multi-user.target
