#!/sbin/runscript
# Copyright 1999-2005 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Id$

depend() {
	use net
	provide ccs
}

exefile=/sbin/ccsd

start() {
	ebegin "Starting ccsd"
	start-stop-daemon --start --quiet \
		--exec ${exefile} -- ${CCSD_OPTS}
	sleep 2s
	eend $?
}

stop() {
	ebegin "Stopping ccsd"
	start-stop-daemon --stop --quiet \
		-s 9 --exec ${exefile}
	eend $?
}

