[Unit]
Description=NGINX Unit
Wants=network-online.target
After=network-online.target

[Service]
Type=forking
PIDFile=/run/nginx-unit.pid
ExecStart=/usr/sbin/unitd
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
