#!/sbin/runscript
# Copyright 1999-2004 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Id$

depend() {
	need net
}

start() {
	ebegin "Starting ax25mond"
	start-stop-daemon --start --quiet --background --exec /usr/sbin/ax25mond
	eend $?
}

stop() {
	ebegin "Stopping ax25mond"
	start-stop-daemon --stop --quiet --exec /usr/sbin/ax25mond
	eend $?
}
