[Unit]
Description=Atop advanced performance monitor
Documentation=man:atop(1)

[Service]
Type=simple
ExecStart=/etc/atop/atop.daily
KillSignal=SIGUSR2
#ExecStopPost=/usr/bin/sleep 3

[Install]
WantedBy=multi-user.target
