#!/sbin/runscript
# Copyright 1999-2010 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Header: /var/cvsroot/gentoo-x86/sys-process/atop/files/atop.rc,v 1.2 2010/07/18 22:19:26 vapier Exp $

start() {
	ebegin "Starting atop"
	start-stop-daemon --start --quiet --exec /etc/atop/atop.daily
	eend $?
}

stop() {
	ebegin "Stopping atop"
	start-stop-daemon --stop --exec /usr/bin/atop --pidfile /var/run/atop.pid
	eend $?
}
