# Written by Bitflu::Configuration@2835 on Thu Jun 30 07:53:38 2011
autocancel                = 1.5
autocommit                = 1
autoload_dir              = /var/lib/bitflu/autoload
autoload_scan             = 300
chdir                     = 
checkversion              = 1309395241
completed_downloads       = /var/lib/bitflu/seeding
downspeed                 = 0
history                   = 1
http_autoloadtorrent      = 1
http_maxthreads           = 10
incomplete_downloads      = /var/lib/bitflu/unfinished
ipv6                      = 1
kademlia_idseed           = 0
logfile                   = /var/log/bitflu/bitflu.log
loglevel                  = 5
min_free_mb               = 0
pidfile                   = /var/run/bitflu/bitflu.pid
plugindir                 = /usr/lib/bitflu/plugins
pluginexclude             = 
renice                    = 8
storage                   = StorageVFS
telnet_bind               = 127.0.0.1
telnet_maxhist            = 20
telnet_port               = 4001
telnet_view               = type,name=25,hash,peers,pieces,bytes,percent,ratio,up,down,eta,note
torrent_bind              = 0
torrent_gcpriority        = 5
torrent_importdir         = /var/lib/bitflu/import
torrent_maxpeers          = 80
torrent_maxreq            = 6
torrent_port              = 6688
torrent_totalpeers        = 400
torrent_tracker_autoudp   = 1
torrent_tracker_udpport   = 6689
torrent_trackerblacklist  = 
torrent_upslots           = 10
unshared_downloads        = /var/lib/bitflu/removed
upspeed                   = 35
vfs_use_fallocate         = 0
webgui_bind               = 127.0.0.1
webgui_port               = 4081
workdir                   = /var/lib/bitflu
# EOF #
