# for vixie cron
#
# $Header: /var/cvsroot/gentoo-x86/sys-process/vixie-cron/files/crontab,v 1.2 2011/09/20 15:13:51 idl0r Exp $
#

# Global variables
SHELL=/bin/bash
PATH=/sbin:/bin:/usr/sbin:/usr/bin
MAILTO=root
HOME=/

# check scripts in cron.hourly, cron.daily, cron.weekly and cron.monthly
*/15 * * * *	root	test -x /usr/sbin/run-crons && /usr/sbin/run-crons
0  *  * * *	root	rm -f /var/spool/cron/lastrun/cron.hourly
0  3  * * *	root	rm -f /var/spool/cron/lastrun/cron.daily
15 4  * * 6	root	rm -f /var/spool/cron/lastrun/cron.weekly
30 5  1 * *	root	rm -f /var/spool/cron/lastrun/cron.monthly
