[Unit]
Description=CPU Frequency Scaling

[Service]
Type=oneshot
ExecStart=/usr/bin/cpupower frequency-set $OPTS

[Install]
WantedBy=multi-user.target
