[Unit]
Description=Kubernetes Proxy service
Documentation=https://kubernetes.io/docs/concepts/architecture/#kube-proxy https://kubernetes.io/docs/reference/command-line-tools-reference/kube-proxy/
After=docker.service
Requires=docker.service

[Service]
ExecStart=/usr/bin/kube-proxy
Restart=on-failure
KillMode=process

[Install]
WantedBy=multi-user.target
