[Unit]
Description=Thinkfan, reload after waking up from suspend
After=suspend.target

[Service]
Type=oneshot
ExecStart=/usr/bin/pkill -usr2 thinkfan

[Install]
WantedBy=suspend.target
