[Unit]
Description=BackUp and Restore Program server
After=network.target

[Service]
Type=simple
PIDFile=/run/burp/burp.server.pid
ExecStart=/usr/sbin/burp -F -c /etc/burp/burp-server.conf

[Install]
WantedBy=multi-user.target
