[Unit]
Description=Minetest multiplayer server (server config minetest.conf)
Documentation=man:minetestserver(6)
After=network.target

[Service]
Restart=on-failure
User=minetest
Group=minetest
ExecStart=/usr/bin/minetestserver --config /etc/minetest/minetest.conf --logfile /var/log/minetest/minetest-server.log
StandardOutput=null

[Install]
WantedBy=multi-user.target

