#!/bin/sh -f

export CASROOT=VAR_CASROOT

if [ -z "PATH" ];
then PATH=VAR_CASROOT/Linux/bin;
else PATH=VAR_CASROOT/Linux/bin:$PATH;
fi
export PATH
if [ -z "LD_LIBRARY_PATH" ];
then LD_LIBRARY_PATH=VAR_CASROOT/Linux/lib;
else LD_LIBRARY_PATH=VAR_CASROOT/Linux/lib:$LD_LIBRARY_PATH;
fi
export LD_LIBRARY_PATH
export CSF_MDTVFontDirectory=VAR_CASROOT/src/FontMFT
export CSF_LANGUAGE=us
export MMGT_CLEAR=1
export CSF_EXCEPTION_PROMPT=1
export CSF_SHMessage=VAR_CASROOT/src/SHMessage
export CSF_MDTVTexturesDirectory=VAR_CASROOT/src/Textures
export CSF_XSMessage=VAR_CASROOT/src/XSMessage
export CSF_StandardDefaults=VAR_CASROOT/src/StdResource
export CSF_PluginDefaults=VAR_CASROOT/src/StdResource
export CSF_XCAFDefaults=VAR_CASROOT/src/StdResource
export CSF_StandardLiteDefaults=VAR_CASROOT/src/StdResource
export CSF_GraphicShr=VAR_CASROOT/Linux/lib/libTKOpenGl.so
export CSF_UnitsLexicon=VAR_CASROOT/src/UnitsAPI/Lexi_Expr.dat
export CSF_UnitsDefinition=VAR_CASROOT/src/UnitsAPI/Units.dat
export CSF_IGESDefaults=VAR_CASROOT/src/XSTEPResource
export CSF_STEPDefaults=VAR_CASROOT/src/XSTEPResource
export CSF_XmlOcafResource=VAR_CASROOT/src/XmlOcafResource
export CSF_MIGRATION_TYPES=VAR_CASROOT/src/StdResource/MigrationSheet.txt

export TCLHOME=VAR_SYS_BIN
export TCLLIBPATH=VAR_SYS_LIB
export ITK_LIBRARY=VAR_SYS_LIB/VAR_ITK
export ITCL_LIBRARY=VAR_SYS_LIB/VAR_ITCL
export TIX_LIBRARY=VAR_SYS_LIB/VAR_TIX
export TK_LIBRARY=VAR_SYS_LIB/VAR_TK
export TCL_LIBRARY=VAR_SYS_LIB/VAR_TCL
