[Unit]
Description=Service Location Protocol
After=network-online.target

[Service]
ExecStart=/usr/sbin/slpd -l /var/log/slpd.log -d
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=network.target
