#!/sbin/runscript
# Copyright 1999-2004 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Header: /var/cvsroot/gentoo-x86/net-im/simpserver-bin/files/simpserver.rc,v 1.3 2006/04/01 05:03:16 eradicator Exp $

depend() {
	need net
}

start() {
	ebegin "Starting simpserver"
	start-stop-daemon --start --quiet --background --make-pidfile --pidfile /var/run/simpserver.pid \
		--exec /opt/bin/simpserver -- /etc/simp.conf
	eend $?
}

stop() {
	ebegin "Stopping simpserver"
	start-stop-daemon --stop --quiet --pidfile /var/run/simpserver.pid
	eend $?
}
