#!/sbin/openrc-run
# Copyright 1999-2016 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Id$

depend() {
	need net
}

start() {
	ebegin "Starting simpserver"
	start-stop-daemon --start --quiet --background --make-pidfile --pidfile /var/run/simpserver.pid \
		--exec /opt/bin/simpserver -- /etc/simp.conf
	eend $?
}

stop() {
	ebegin "Stopping simpserver"
	start-stop-daemon --stop --quiet --pidfile /var/run/simpserver.pid
	eend $?
}
