[Unit]
Description=NFS v4 ID-Name Mapping Daemon
Documentation=man:rpc.idmapd(8) man:idmapd.conf(5)
After=var-lib-nfs-rpc_pipefs.mount nfsd.service
Requires=var-lib-nfs-rpc_pipefs.mount

[Service]
ExecStart=/usr/sbin/rpc.idmapd -f

[Install]
WantedBy=multi-user.target
