[Unit]
Description=tvheadend
After=network.target

[Service]
Type=simple
User=tvheadend
Group=video
RuntimeDirectory=tvheadend
EnvironmentFile=/etc/conf.d/tvheadend
ExecStart=/usr/bin/tvheadend -c ${TVHEADEND_CONFIG} $TVHEADEND_OPTIONS
TimeoutStartSec=1m
TimeoutStopSec=20s
Restart=always
RestartSec=5s
DevicePolicy=closed
DeviceAllow=char-DVB rw
DeviceAllow=char-drm rw
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
ProtectSystem=yes
ProtectHome=yes
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target
