[Unit]
Description=An optimized HTTP/1.x, HTTP/2 server
After=network-online.target nss-lookup.target remote-fs.target

[Service]
Type=simple
PIDFile=/run/h2o.pid
ExecStart=/usr/bin/h2o -c /etc/h2o/h2o.conf -m master
ExecReload=/usr/bin/kill -HUP $MAINPID
ExecStop=/usr/bin/kill -TERM $MAINPID
SyslogLevel=notice
PrivateTmp=true
LimitNOFILE=infinity

[Install]
WantedBy=multi-user.target
