[Desktop Entry]
Type=Application
Name=Whyteboard
GenericName=Panting App
GenericName[it]=lavagna
Comment=Simple whiteboard and PDF annotator
Exec=whyteboard %U
TryExec=whyteboard
Icon=/usr/share/pixmaps/whyteboard.png
Terminal=false
Categories=GNOME;GTK;Utility;
StartupNotify=true
MimeType=image/png;image/svg+xml;
