[Desktop Entry]
Type=Application
Version=1.0
Name=Searchmonkey 2
Exec=searchmonkey2
Icon=/usr/share/pixmaps/searchmonkey-300x300.png
Terminal=false
Categories=FileTools;Utility;Qt;
