[Unit]
Description=Invisible Internet Project
After=network.target

[Service]
User=i2p
Type=forking
ExecReload=/usr/bin/i2prouter restart
ExecStart=/usr/bin/i2prouter start
ExecStop=/usr/bin/i2prouter stop

[Install]
WantedBy=multi-user.target
