[Unit]
Description=Invisible Internet Project
After=network.target

[Service]
User=i2p
ExecStart=/usr/bin/wrapper /usr/share/i2p/wrapper.config wrapper.syslog.ident=i2p wrapper.logfile=/var/lib/i2p/.i2p/wrapper.log

[Install]
WantedBy=multi-user.target
