[Unit]
Description=Apache Exporter

[Service]
User=apache_exporter
EnvironmentFile=/etc/sysconfig/apache_exporter
ExecStart=/usr/bin/apache_exporter $OPTIONS

[Install]
WantedBy=multi-user.target
