[Unit]
Description=Kubernetes API Server
Documentation=https://kubernetes.io/docs/concepts/architecture/#kube-apiserver https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/
After=docker.service
Requires=docker.service

[Service]
ExecStart=/usr/bin/kube-apiserver
Restart=on-failure
KillMode=process
User=kube-apiserver
Group=kube-apiserver

[Install]
WantedBy=multi-user.target
