[Unit]
Description=Sensor information logging daemon

[Service]
PIDFile=/var/run/sensord.pid
ExecStart=/usr/sbin/sensord

[Install]
WantedBy=multi-user.target
