[Unit]
Description=buildbot master daemon
After=local-fs.target network.target

[Service]
Type=forking
User=buildbot
WorkingDirectory=/var/lib/buildmaster
ExecStartPre=/usr/bin/buildbot checkconfig /var/lib/buildmaster
ExecStart=/usr/bin/buildbot start /var/lib/buildmaster
ExecStop=/usr/bin/buildbot stop /var/lib/buildmaster

[Install]
WantedBy=multi-user.target
