[Unit]
Description=consul agent
Requires=network-online.target
After=network-online.target

[Service]
User=consul
Environment=GOMAXPROCS=2
Environment=CONSUL_AGENT_OPTS="-config-dir=/etc/consul.d"
ExecStart=/usr/bin/consul agent $CONSUL_AGENT_OPTS
Restart=on-failure
KillSignal=SIGINT
ExecReload=/usr/bin/consul reload

[Install]
WantedBy=default.target
