[Desktop Entry]
Encoding=UTF-8
Name=pgAdmin 4
Exec=/usr/bin/pgAdmin4
Icon=pgadmin4
Type=Application
Categories=Development;Database;
MimeType=text/html
DocPath=/usr/share/pgadmin4/docs/en_US/_build/html/index.html
Comment=PostgreSQL Tools
Keywords=database;db;sql;query;administration;development;
