#!/sbin/runscript
# Copyright 1999-2012 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Header: /var/cvsroot/gentoo-x86/net-misc/tlsdate/files/tlsdate.rc,v 1.1 2012/12/11 01:49:23 vapier Exp $

description="set time once when started"

depend() {
	use net
}

start() {
	: ${TLSDATE_CMD:=tlsdate}
	ebegin "Setting clock via tlsdate '${TLSDATE_CMD}'"
	"${TLSDATE_CMD}" ${TLSDATE_OPTS}
	eend $? "Failed to set clock"
}
