[Unit]
Description=SQLgrey Postfix Grey-listing Policy service
After=network.target

[Service]
ExecStart=/usr/sbin/sqlgrey

[Install]
WantedBy=multi-user.target
