[Unit]
Description=Periodically run Fangfrisch
Requires=fangfrisch.service

[Timer]
OnCalendar=*:00,10,20,30,40,50
Persistent=true
RandomizedDelaySec=10s
Unit=fangfrisch.service

[Install]
WantedBy=timers.target
