# udev rules for non CCID ACR38u smart card readers

ACTION!="add", GOTO="pcscd_acr38u_rules_end"
SUBSYSTEM!="usb", GOTO="pcscd_acr38u_rules_end"
ENV{DEVTYPE}!="usb_device", GOTO="pcscd_acr38u_rules_end"

# disable USB-persist
# https://docs.kernel.org/driver-api/usb/persist.html
ENV{ID_USB_INTERFACES}=="*:0b0000:*", TEST=="power/persist", ATTR{power/persist}="0"

# set USB power management to auto.
ENV{ID_USB_INTERFACES}=="*:0b0000:*", TEST=="power/control", ATTR{power/control}="auto"

LABEL="pcscd_acr38u_rules_end"
