[Unit]
Description=Ident (RFC 1413) per-connection server

[Service]
ExecStart=/usr/sbin/oidentd -I -S -u nobody -g nobody
ExecReload=/bin/kill -HUP $MAINPID
StandardInput=socket
