[Unit]
Description=Spamassassin daemon
After=syslog.target network.target

[Service]
Type=forking
PIDFile=/var/run/spamd.pid
ExecStart=/usr/sbin/spamd -d --pidfile /var/run/spamd.pid -m 5 -c -H
StandardOutput=syslog
StandardError=syslog
Restart=always

[Install]
WantedBy=multi-user.target
