[Unit]
Description=Lightweight DHCP client daemon
Wants=network.target
Before=network.target network-online.target

[Service]
Type=forking
ExecStart=/sbin/dhcpcd -q
PIDFile=/run/dhcpcd.pid

[Install]
WantedBy=multi-user.target
