[Unit]
Description=Zabbix agent
Documentation=https://zabbix.com/manuals
After=network.target network-online.target

[Service]
User=zabbix
Group=zabbix
ExecStart=/usr/sbin/zabbix_agent2 --foreground --config /etc/zabbix/zabbix_agent2.conf

[Install]
WantedBy=multi-user.target
