[Unit]
Description=Zabbix server
After=syslog.target network.target postgresql.service

[Service]
Type=forking
User=zabbix
Group=zabbix
ExecStart=/usr/sbin/zabbix_server -c /etc/zabbix/zabbix_server.conf
PIDFile=/run/zabbix/zabbix_server.pid

[Install]
WantedBy=multi-user.target

