#!/sbin/runscript
# Copyright 1999-2011 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Id$

depend() {
	need net
}

start() {
	ebegin "Starting mheardd"
	start-stop-daemon --start --quiet --background --exec /usr/sbin/mheardd
	eend $?
}

stop() {
	ebegin "Stopping mheardd"
	start-stop-daemon --stop --quiet --exec /usr/sbin/mheardd
	eend $?
}
