[Desktop Entry]
Name=qt4-fsarchiver
Name[de_DE]=qt4-fsarchiver
Comment=Qt GUI for fsarchiver
Exec=/usr/sbin/qt4-fsarchiver_polkit %f
Icon=/usr/share/app-install/icons/harddrive.png
Terminal=false
Type=Application
Categories=Utility;Archiving;Qt;
StartupNotify=false
OnlyShowIn=GNOME

