[Desktop Entry]
Name=qt5-fsarchiver
Name[de_DE]=qt5-fsarchiver
Comment=Qt GUI for fsarchiver
Exec=gksu qt5-fsarchiver
Icon=/usr/share/qt4-fsarchiver/harddrive.png
Terminal=false
Type=Application
Categories=GNOME;GTK;Utility;
StartupNotify=false
OnlyShowIn=XFCE;MATE;X-Cinnamon;LXDE;Unity

