[Unit]
Description=VirtualBox Guest Additions
ConditionVirtualization=oracle
Before=display-manager.service

[Service]
Type=simple
ExecStartPre=/sbin/modprobe vboxguest
ExecStartPre=/sbin/modprobe vboxsf
ExecStart=/usr/sbin/vboxguest-service --foreground
ExecStopPost=/sbin/modprobe -r vboxsf
ExecStopPost=/sbin/modprobe -r vboxguest
PIDFile=/var/run/vboxguest-service.pid

[Install]
WantedBy=multi-user.target
